html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: monospace;
}

.content {
  text-align: center;
  padding: 1rem;
  overflow-x: auto;
  max-width: 100%;
}

pre {
  font-family: monospace;
  font-size: 1.2ch;
  line-height: 1;
  white-space: pre;
  overflow-x: auto;
}

@media (max-width: 768px) {
  pre {
    font-size: 9px;
  }
}
